/*--------------------Body */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');/*--------------------Containers */

body {
    font-family: "Roboto", sans-serif;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.site {
    display: flex;
    flex-direction: column;
} 

p {
    margin: 0;
}

ul {
    margin: 0;
}

button:hover {
    background-color: #ff6600b5;
    border-color: #ff6600b5;
}
/*--------------------Headings */

h1,
h2,
h3,
h4 {
    font-family: "Lora", sans-serif;
    font-weight: 600;
    text-align: center;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card h3 {
    background-color: #ff6600;
    color: #fff;
}

/*--------------------Header */

.navbar {
    background-color: #5b5b61;
}

.navbar a {
    color: #fff;
}

.navbar a {
  font-weight: 500;
}

.navbar-toggler {
  border: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/*--------------------Images */
.hero-image {
  height: 110vh;
  width: 100%;
  background-image: url(../images/hero-image.jpg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-img {
    width: 100%;
    height: auto;
    margin: 0;
    object-fit: cover;
    opacity: 0.9;
}

.option-img {
    width: 100%;
    height: auto;
}

.hero-button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 40px;
    border-radius: 10px;
} 

/*---------------------Cards Container */

.cities {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex: 0 0 auto;
    width: 22%;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    background: black;
}

.card h2 {
    align-content: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.card p {
    margin: 10px;
}

.card-option {
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.card-option button {
    position: absolute;
    bottom: 0;
}

.card-option p {
    padding: 15px;
}

/*---------------------Cities Section */

#hanoi {
    display: none;
}

#sapa {
    display: none;
}

#hoi-an {
    display: none;
}

/*---------------------Choices Section */

.choices {
    background-color: #ff6600;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.choices a {
   color: #fff ;
}

.choices-items {
    padding: 0px 60px;
}


.choices .icon {
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.vl {
    border-left: 4px solid #fff;
    height: 75px;
}

/*---------------------City Description Section */

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.city-description {
    display: flex;
    justify-content: center;
    text-align: center;
}

.city-description p {
    width: 70%;
    font-size: 20px;
    padding-bottom: 30px;
}

/*---------------------Maps Container */

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 60px;
}

.maps {
    height: 500px;
    width: 500px;
}

/*---------------------Form */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 70%;
    text-align: center;
}

form input {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #ff6600;
    color: #fff;
    border-color: #ff6600;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}

form button {
    width: 200px;
}

/*---------------------Footer */

footer {
    background-color: #5b5b61;
    color: #fff;
}

.footer-items {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

footer .icon {
    color: #fff;
    font-size: 20px;
    margin: 10px 5px;

}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style: none;
}
